$marine_blue: hsl(213, 96%, 18%);
$purplish_blue: hsl(243, 100%, 62%);
$pastel_blue: hsl(228, 100%, 84%);
$light_blue: hsl(206, 94%, 87%);
$strawberry_red: hsl(354, 84%, 57%);
$grey: hsl(231, 11%, 63%);
$light_neutral: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);


$ft: 1em;

@font-face {
    font-family: 'Ubuntu_regular';
    src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Unbuntu_medium;
    src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: Ubuntu_bold;
    src: url('../assets/fonts/Ubuntu-Bold.ttf');
}
